#  CPU: pip install torch==2.6.0 torchaudio
# CUDA: pip install torch==2.6.0 torchaudio --index-url https://download.pytorch.org/whl/cu124
pydantic <= 2.10.6
fastapi[standard] >= 0.115.2
numpy < 2.0
scipy
librosa == 0.10.2
numba
tqdm
ffmpeg-python
PyYAML
transformers >= 4.43
pytorch-lightning >= 2.4
peft
matplotlib
einops
x_transformers
jieba
jieba_fast
cn2an
pypinyin
nltk
g2p_en
fast_langdetect >= 0.3.1
split-lang
onnxruntime-gpu
opencc
wordsegment